@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 3.5em;
    text-align: center;
    font-weight: 100;
}

#header p {
    text-align: center;
    font-size: 2em;
    margin: 10px 0;
}

#main-container {
    background-color: #f4f4f4;
    padding:50px 80px;
    margin: 50px 90px;
}

#introduction {
    border: 1px solid grey;
    margin-top: 10px;
    border-radius: 10px;
    padding: 5px;
}

img {
    display: block;
    margin: 30px auto;
    border-radius: 50%;
    width: 18em;
    height: 18em;
}

#main-body h3{
    font-size: 2em;
    font-weight: 100;
}

#list {
    margin: 20px 10px;
    text-align: justify;
}

#footer {
    text-align: center;
}